{% extends "telovendo3app/base.html"%}
{% load static %}


{% block titulo %}Formulario Contacto{% endblock %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <section class="gradient-custom">
        <div class="container ">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <div class="mb-md-5 mt-md-4 pb-5">
                                <h2 class="fw-bold mb-2 text-uppercase">Login 💞</h2>
                                <p class="text-white-50 mb-5">Por favor ingresa tu usuario y contraseña!</p>
                                <div class="form-outline form-white mb-4 control">
                                    <input type="text" id="id_username" class="form-control form-control-lg input" name="username" placeholder="Usuario" required>
                                    <label class="form-label label" for="id_username">Usuario</label>
                                </div>
                                <div class="form-outline form-white mb-4 field">
                                    <input type="password" id="id_password" class="form-control form-control-lg input" name="password" placeholder="Contraseña" required>
                                    <label class="form-label label" for="id_password">Contraseña</label>
                                </div>
                                {% if form.errors %}
                                <div class="notification is-danger mt-3">
                                    <h4>Error</h4>
                                    {{ form.errors }}
                                </div>
                                {% endif %}
                                <div class="field">
                                    <button type="submit button" class="btn btn-danger">Ingresar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
