{% extends "telovendo3app/base.html"%}
{% load static %}

{% block navegacion%}

{% for categoria in categorias %}
    <li class="nav-item">
    <a class="nav-link " href="{% url 'tecnologia' idcategoria=categoria.idcategoria %}">{{ categoria.nombre }}</a>
    </li>
{% endfor %}

{% endblock %}

{% block titulo %}Formulario de registro{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="hero is-secondary is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-4">
                        <form action="" class="box">
                            <h5 class="title is-5">Registro</h5>
                            <h6 class="subtitle is-6">Registro de usuario</h6>
                            <div class="field">
                                <label class="label" for="id_username">Usuario</label>
                                    <div class="control">
                                        <input type="text" class="input" id="id_username" name="username" placeholder="Usuario" required>
                                        {% comment %} {{ form.username }} {% endcomment %}
                                    </div>
                            </div>
                            <div class="field">
                                <label class="label" for="id_password1">Contraseña</label>
                                    <div class="control">
                                        <input type="password" class="input" id="id_password1" name="password1" placeholder="Contraseña" required>
                                        {% comment %} {{ form.password }} {% endcomment %}
                                    </div>
                            </div>
                            <div class="field">
                                <label class="label" for="id_password2">Repita la contraseña</label>
                                    <div class="control">
                                        <input type="password" class="input" id="id_password2" name="password2" placeholder="Repita la contraseña" required>
                                        {% comment %} {{ form.password }} {% endcomment %}
                                    </div>
                            </div>
                            <div class="field">
                                <label class="label" for="id_firstname">Nombre</label>
                                    <div class="control">
                                        <input type="text" class="input" id="id_firstname" name="first_name" placeholder="Ingrese nombre" required>
                                        {% comment %} {{ form.username }} {% endcomment %}
                                    </div>
                            </div>
                            <div class="field">
                                <label class="label" for="id_lastname">Apellido</label>
                                    <div class="control">
                                        <input type="text" class="input" id="id_lastname" name="last_name" placeholder="Ingrese apellido" required>
                                        {% comment %} {{ form.username }} {% endcomment %}
                                    </div>
                            </div>
                            <div class="field">
                                <label class="label" for="email">Ingrese su email</label>
                                    <div class="control">
                                        <input type="email" class="input" id="email" name="email" placeholder="Ingrese un email" required>
                                        {% comment %} {{ form.password }} {% endcomment %}
                                    </div>
                            </div>
                            {% if form.errors %}
                            <div class="notification is-danger mt-3">
                                <h4>Errores</h4>
                                {{ form.errors }}
                            </div>
                            {% endif %}
                            <div class="field">
                                <button type="submit" class="button is-danger mt-3">Registrar</button>
                            </div>
                        </div>
                    </div>
        </div>
    </div>    
</form>


{% endblock %}

