{% extends 'telovendo3app/base.html' %}
{% load static %}
{%block Title%}Agregar Dirección{%endblock%}

{% block content %}
<section class="gradient-custom">
  <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
          <div class="col-12 col-md-8 col-lg-6 ">
              <div class="card bg-dark text-white direccion">
                <h1>Guardar Dirección</h1>

                <form method="post">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit">Guardar dirección</button>
                </form>
              </div>
          </div>
      </div>
  </div>
<section>          
{% endblock %}