{% extends 'telovendo3app/base.html' %}

{% block title %}
    Información de Clientes
{% endblock %}

{% block content %}

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Teléfono</th>
                <th>Ciudad</th>
                <th>Última Compra</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.apellido }}</td>
                    <td>{{ cliente.correo }}</td>
                    <td>{{ cliente.telefono }}</td>
                    <td>{{ cliente.ciudad }}</td>
                    <td>{{ cliente.ultima_compra }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}