{% extends 'telovendo3app/base.html' %}
{% load static %}

{%block Title%}Detalle Pedido{%endblock%}

{% block content %}



<section>
  <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
          <div class="col-12 col-md-8 col-lg-6 login" style="width: max-content;">
            <h1>Detalle del Pedido</h1>
              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <p>Pedido: {{ pedido }}</p>
                  <table class="table table-dark">
                      <thead>
                        <tr>
                          <th>Producto</th>
                          <th>Cantidad</th>
                          <th>Precio Unitario</th>
                          <th>Subtotal</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for detalle in detalles %}
                        <tr>
                          <td>{{ detalle.producto }}</td>
                          <td>{{ detalle.cantidad }}</td>
                          <td>{{ detalle.precio_unitario }}</td>
                          <td>{{ detalle.subtotal }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                      
                  </table>
                  <form method="post" action="{% url 'detalles_pedido' pedido_id=pedido.id %}">
                    {% csrf_token %}
                    <p style="padding-left: 270px;">Total: {{ pedido.total }}</p>
                  </form><br>
                  <a type="submit" class="btn btn-danger" href="{% url 'agregar_detalle_pedido' pedido_id=pedido.id %}">Agregar Detalle</a>

              </div>
              
          </div>
      </div>
  </div>
</section>            




{% endblock %}