{% extends 'telovendo3app/base.html' %}
{% load static %}


{% block content %}

<h1>Detalle del Pedido</h1>

<p>Pedido: {{ pedido }}</p>

<table>
  <thead>
    <tr>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Precio Unitario</th>
      <th>Subtotal</th>
    </tr>
  </thead>
  <tbody>
    {% for detalle in detalles %}
    <tr>
      <td>{{ detalle.producto }}</td>
      <td>{{ detalle.cantidad }}</td>
      <td>{{ detalle.precio_unitario }}</td>
      <td>{{ detalle.subtotal }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{% url 'agregar_detalle_pedido' pedido_id=pedido.id %}">Agregar Detalle</a>


{% endblock %}