{% extends 'telovendo3app/base.html' %}
{% load static %}


{% block content %}

<div class="hero is-secondary is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class=" is-4">
          <div>
            <br><br><br><br>
                {% if user.is_authenticated %}
                  <h3>Bienvenido {{ user.first_name }} {{ user.last_name }}</h3>
                  {%else%}
            <div class="columns is-centered">
              <div class="column is-two-thirds">
                <h1 class="title has-text-centered">TeLOVEndo 💞</h1>
                <p class="subtitle has-text-centered">Comercio especializado en diversos productos para el hogar, desde tecnología hasta línea blanca</p>
                {% endif %}

              </div>
            </div>
          </div>
          <section class="section">
            <div class="container content-container">
              <div class="columns is-multiline">
                <div class="column is-one-third">
                  <div class="card">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img src="{% static 'img/portadacelulares2022.jpg' %}" alt="Tecnología">
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                      </div>
                      <div class="has-text-centered">
                        <button class="button is-primary">Ver productos</button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="column is-one-third">
                  <div class="card">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img src="{% static 'img/Linea-blanca.jpg' %}" alt="Línea Blanca">
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="content">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                      </div>
                      <div class="has-text-centered">
                        <button class="button is-primary">Ver productos</button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="column is-one-third">
                  <div class="card">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img src="{% static 'img/calzado_1.jpg' %}" alt="Calzado">
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="content">
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                      </div>
                      <div class="has-text-centered">
                        <button class="button is-primary">Ver productos</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>      
    </div>
  </div>
</div>  
{% endblock %}
