{% extends 'telovendo3app/base.html' %}
{% load static %}

{% block content %}

{% if user.is_staff %}
    <h1 class="text-center mt-5">Gestión de Pedidos</h1>
{% else %}
    <h1 class="text-center mt-5">Tus Pedidos</h1>
{% endif %}


<section>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-dark table-bordered border-danger border border-5">
                <thead>
                    <tr>
                        <th scope="col">ID del pedido</th>
                        <th scope="col">Fecha de pedido</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Total</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pedido in pedidos %}
                    <tr>
                        <td scope="row">{{ pedido.id }}</td>
                        <td>{{ pedido.fecha_pedido }}</td>
                        <td>{{ pedido.cliente.nombre }}</td>
                        <td>{{ pedido.estado }}</td>
                        <td>{{ pedido.total }}</td>
                        <td>
                            {% if user.is_staff  %}
                                <a class="btn btn-sm btn-danger" href="{% url 'eliminar_pedido' pedido.id %}" role="button">Eliminar</a>
                            {% endif %}
                            {% if user.is_authenticated and pedido.estado in "Pendiente,procesando" and pedido.cliente.id == user.id %}
                                <a class="btn btn-sm btn-danger" href="{% url 'eliminar_pedido' pedido.id %}" role="button">Eliminar</a>
                            {% endif %}
      
                            {% if user.is_staff %}
                                <a class="btn btn-sm btn-danger" href="{% url 'actualizar_estado_pedido' pedido.id %}" role="button">Editar Estado</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5"></td>
                        <td>
                            {% if user.is_staff %}
                                <a class="btn btn-sm btn-danger" href="{% url 'agregar_pedido' %}" role="button">Agregar Pedido</a>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock %}
