{% extends 'telovendo3app/base.html' %}
{% load static %}


{% block content %}

<div class="d-flex justify-content-center align-items-center">
    <div class="card">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">ID del pedido</th>
                        <th scope="col">Fecha de pedido</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Total</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pedido in pedidos %}
                    <tr>
                    <td scope="row">{{ pedido.id }}</td>
                    <td>{{ pedido.fecha_pedido }}</td>
                    <td>{{ pedido.cliente.nombre }}</td>
                    <td>{{ pedido.estado }}</td>
                    <td>{{ pedido.total }}</td>
                    <td>
                        <a href="{% url 'eliminar_pedido' pedido.id %}">Eliminar</a>
                    </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5"></td>
                        <td>
                        <a href="{% url 'agregar_pedido' %}">Agregar Pedido</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}