*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg-color: #222327;
    --text-color: #fff;
    --main-color: #e60404;
}

body {
    position: relative;
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 28px 12%;
    transition: all .50s ease;
    
}

section{
    text-align: left;

}

section .login{
    padding-top: 40px;
}

section label {
    width: 100px;
}

section label {
    width: 100px;
    margin-top: 15px;
}

section .label-registro{
    width: 200px;
}

section .table{
    border-radius: 25px;
}

section select{
    width: 315px;
} 

section .py-5 .py-lg-5{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

section .card{
    align-items: center;
    padding: 5px;
    background: var(--bg-color);
    color: var(--text-color);
    border-color: #e60404;
    -webkit-box-shadow: 2px 2px 5px 2px #FF0000;
    box-shadow: 2px 2px 5px 2px #FF0000;
    padding-top: 15px;
    padding-bottom: 15px;
}

section .titulo{
    justify-content: center;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    -webkit-box-shadow: 0 -10px 5px 0 #FF0000;
    box-shadow: 0 -10px 5px 0 #FF0000;
}


.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 3px;
}

.logo span{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 600;
}

.nav-bar{
    display: flex;
    text-decoration: none !important;
}

.nav-bar a{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    
    margin: 0px 30px;
    transition: all .50s ease;
    text-decoration: none !important;
}

.nav-bar a:hover{
    color: var(--main-color);
}

.nav-bar a:active{
    color: var(--main-color);
}

.main{
    display: flex;
    align-items: center;
}

.main a{
    margin-right: 25px;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
    text-decoration: none;
}

.user{
    display: flex;
    align-items: center;
}

.user i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 7px;
}

.main a:hover{
    color: var(--main-color)
}

#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.label{
    color: var(--text-color);
}

.title, .subtitle{
    color: var(--text-color);
}
@media (max-width: 1280px) {
    nav{
        padding: 14px 2%;
        transition: .2s;
    }
    .nav-bar a{
        padding: 5px 0;
        margin: 0px 20px;

    }
}

@media (max-width: 1090px){
    #menu-icon{
        display: block;
    }
    .nav-bar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: fit-content;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }
    .main a{
        font-size: 0;
    }
    .nav-bar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }
    .nav-bar a:hover{
        color: var(--text-color);
        transform: translateY(5px);
    }
    .nav-bar a.active{
        color: var(--text-color);
    }
    .nav-bar.open{
        right: 2%;
    }
}